@import './../../../breakpoints'

.crypto-items
    display flex
    flex-wrap: wrap
    padding-left 16px
    padding-right 16px
    padding-top 16px

.crypto-item
    width 25%
    text-align center
    padding-right 8px
    padding-left 8px
    box-sizing: border-box
    margin-bottom 16px
    +for_breakpoint(tablet)
        width 33.33333%
    +for_breakpoint(mobile)
        width 100%
    
.crypto__symbol
    font-size 3.5em
    font-weight bold
.up
    color #00c853
.down
    color #dd2c00

.crypto__equals
    p
        margin 0

.crypto__stats
    display flex
    flex: wrap
    margin-top 10px
.crypt__stat
    width 33.3333%
    span
        display block