<div class="cryptos-area">
  <div class="crypto-items">
    <div class="crypto-item" *ngFor="let crypto of cryptos">
      <mat-card>
        <div class="crypto__name">
          {{ crypto.name }}
        </div>
        <div class="crypto__symbol">
          {{ crypto.symbol }}
        </div>
        <div class="crypto__equals">
          <p>1 {{ crypto.symbol }} = {{ crypto.price_usd }} USD</p>
          <p>1 {{ crypto.symbol }} = {{ crypto.price_btc }} BTC</p>
        </div>
        <div class="crypto__market">
          <div class="crypto__stats">
            <div class="crypt__stat">
              <span [ngClass]="{'down': crypto.percent_change_1h < 0,'up': crypto.percent_change_1h > 0}" >{{ crypto.percent_change_1h / 100 | percent:'1.2-3' }}</span>
              <span>1 H</span>
            </div>
            <div class="crypt__stat">
              <span [ngClass]="{'down': crypto.percent_change_24h < 0,'up': crypto.percent_change_24h > 0}"  class="up">{{ crypto.percent_change_24h / 100| percent:'1.2-3' }}</span>
              <span>24 H</span>
            </div>
            <div class="crypt__stat">
              <span [ngClass]="{'down': crypto.percent_change_7d < 0,'up': crypto.percent_change_7d > 0}">{{ crypto.percent_change_7d / 100 | percent:'1.2-3' }}</span>
              <span>7 D</span>
            </div>
          </div>
        </div>
        <div class="crypto__last-update">
          <p>Last update: {{ crypto.last_updated | amFromUnix | amTimeAgo }}</p>
        </div>
      </mat-card>
    </div>
  </div>
</div>