<div class="weather-stats" *ngIf="weather">
  <h1 class="weather-stats__name">
    Weather in <strong>{{ weather.name }} </strong>
    <span>Last update: {{ (weather.dt | amFromUnix) | amTimeAgo }}</span>
  </h1>

  <div class="weather-stats__area">
    <div class="sidebar-weather">
      <div class="general-data">
        <mat-card>
            <div class="temperature">
              <div class="temperature__icon">
                <img [src]="weather.weather[0].icon | iconWeather">
              </div>
              <div class="temperature__info">
                <div class="temperature__current">
                  {{ weather.main.temp }}° C
                </div>
                <div class="current-stats">
                  <div class="current-stat">
                    <span>Max: {{ weather.main.temp_max }}° C</span>
                  </div>
                  <div class="current-stat">
                    <span>Min: {{weather.main.temp_min }}° C</span>
                  </div>
                  <div class="current-stat">
                    <span>Hum: {{weather.main.humidity }}%</span>
                  </div>
                  <div class="current-stat">
                    <span>Ps: {{weather.main.pressure}} hpa</span>
                  </div>
                  <div class="current-stat">
                    <span>sunrise: {{weather.sys.sunrise | amFromUnix | amDateFormat: 'h:mm a'}}</span>
                  </div>
                  <div class="current-stat">
                    <span>sunset: {{weather.sys.sunset | amFromUnix | amDateFormat: 'h:mm a'}}</span>
                  </div>
                  
                </div>
              </div>
            </div>
        </mat-card>
      </div>
    </div>

    <div class="content-weather">
      <div class="history-weather" *ngIf="historyList">
        <h4 class="history-weather__title">Forecast</h4>
        <ng-container *ngFor="let history of historyList.list">
            <mat-card class="history-item--mb">
                <div class="history-item">
                  <div class="history-item__date">
                    <p>{{(history.dt |  amFromUnix ) | amLocal  | amLocale: 'es' | amDateFormat: 'D MMM, h:mm a'}}</p>
                  </div>
                  <div class="history-item__icon">
                    <img [src]="history.weather[0].icon | iconWeather">
                  </div>
                  <div class="history-item__data">
                    <div class="hitory-item__minmax">
                      <span class="minmax minmax--max">{{ history.main.temp_max }}°C</span>
                      <span class="minmax minmax--min">{{ history.main.temp_min }}°C</span>
                    </div>
                    <div class="history-item__wind">
                      <span>{{ history.wind.speed }} m/s</span>
                    </div>
                    <div class="history-item__clouds">
                      <span>Clouds: {{ history.clouds.all }}%</span>
                      <span>{{ history.main.pressure }} hpa</span>
                    </div>
                  </div>
                </div>
              </mat-card>
        </ng-container>
      </div>
    </div>
    
  </div>
</div>