@import './../../../breakpoints'

.weather-stats
    padding-right 16px
    padding-left 16px

.weather-stats__name
    color var(--title-color)
    font-weight 400
    +for_breakpoint(mobile)
        text-align center
    span
        font-size 0.5em
        +for_breakpoint(mobile)
            display block
            width 100%
.history-weather__title
    margin-top 0
    +for_breakpoint(mobile)
        margin-top 10px
.temperature__current
    font-size 2em
    font-weight bold
    text-align center
    margin-bottom 15px

.temperature__icon
    text-align center

.current-stats
    display flex
    flex-wrap: wrap
    
.current-stat
    width 50%
    text-align center

.weather-stats__area
    display flex
    flex-wrap: wrap

.sidebar-weather
    width 25%
    +for_breakpoint(mobile)
        width 100%

.content-weather
    width 75%
    padding-left 16px
    box-sizing: border-box
    +for_breakpoint(mobile)
        width 100%
        padding-left 0
.history-item--mb
    margin-bottom 15px
.history-item
    display: flex
    flex-wrap: wrap
    align-items: center
.history-item__icon
    flex: auto
    text-align center
.history-item__data
    width 400px
    +for_breakpoint(mobile)
        width 100%
        text-align center
.history-item__date
    +for_breakpoint(mobile)
        width 100%
        text-align center
.minmax
    padding 3px 5px
    margin-right 5px
    border-radius 3px
    color #fff
.history-item__wind
    margin-top 5px
    margin-bottom 5px
.history-item__clouds
    span
        margin-right 10px

.minmax--max
    background-color #E65100

.minmax--min
    background-color #01579B