<div class="pwnie-area">
  <div class="entry-info">
    <mat-form-field class="entry-info__input">
      <input type="text" matInput [formControl]="size" required placeholder="Number of elements">
    </mat-form-field>
    <mat-form-field class="entry-info__input">
      <input type="text" matInput [formControl]="actualCollection" required placeholder="Elements (separates by comma)">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="findLost()" [disabled]="size.invalid || actualCollection.invalid">Find Lost</button>
    <p *ngIf="lost">Finded: The lost number is {{ lost }}</p>
  </div>
</div>