<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="logo">
      WeatherApp
    </div>
    <div class="search-nav hidden-mb">
        <app-search></app-search>
    </div>
    <div class="pwnie">
      <button mat-button [routerLink]="['pwnie']">Pwnie</button>
    </div>
    <div class="crypto">
      <button mat-button [routerLink]="['crypto']">Crypto</button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="hidden-d">
    <div class="search-nav">
        <app-search></app-search>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
