@import './../breakpoints'

.logo
    margin-right 10px
    +for_breakpoint(mobile tablet)
        flex auto

.search-nav
    flex auto
    text-align center

.hidden-mb
    +for_breakpoint(mobile tablet)
        display none

.hidden-d
    +for_breakpoint(desktop)
        display none