<div class="search">
  <mat-form-field class="full-width">
    <input [style.fontSize]="14" placeholder="search" type="text" matInput (keypress)="search()" [formControl]="citySearch" [matAutocomplete]="auto">
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let city of citiesList | async" [value]="city.name" (click)="goWeather(city.id)">{{city.name}}, {{city.country}}</mat-option>
  </mat-autocomplete>
</div>
