media_queries = {
  mobile  : "only screen and (max-width: 767px)",
  tablet  : "only screen and (min-width: 768px) and (max-width: 1024px)",
  desktop : "only screen and (min-width: 1025px)"
}

for_breakpoint(breakpoints)
  conditions = ()
  for breakpoint in breakpoints
    push(conditions, media_queries[breakpoint])
  conditions = join(", ", conditions)
  @media conditions
    {block}