/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root
    --title-color: #8c8c8c
body
    margin: 0
    font-family 'Roboto', sans-serif